.item-list {
  column-gap:1rem;
  margin:1rem 0 0;
  padding:0;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

@media only screen and (min-width:480px) {
  .item-list {
    column-count:2;
  }
}

@media only screen and (min-width:700px) {
  .item-list {
    column-count:3;
  }
}

@media only screen and (min-width:900px) {
  .item-list {
    column-count:4;
  }
}

@media only screen and (min-width:1200px) {
  .item-list {
    column-count:5;
  }
}
